.onex-btn-icons {
    margin-top: -4px;
}
.onex-heading-icons {
    margin-top: -5px;
}
.form-label em {
    color: rgb(220, 0, 0);
}
.onex-action-btn {
    padding: 0;
    margin: 0;
    background: transparent;
    border: none;
}
.onex-action-btn:hover {
    background: transparent;
}